@font-face {
  font-family: "Proxima Nova Reg";
   src: font-url('proxima_nova_regular.woff2') format('woff2'),
        font-url('proxima_nova_regular.ttf') format('truetype');
}

@font-face {
  font-family: "Proxima Nova Light";
  src: font-url('proxima_nova_light.woff2') format('woff2'),
       font-url('proxima_nova_light.ttf') format('truetype');
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: font-url('proxima_nova_bold.woff2') format('woff2'),
       font-url('proxima_nova_bold.ttf') format('truetype');
}

$DEEPBLACK: #222222;
$BLACK: #464646;
$RED: #ff0033;
$BACKGROUND: white ;
$TEXT: #999999;
$LIGHT_TEXT: #888888;
$PRIMARY_FONT: 'Proxima Nova Reg', sans-serif;
$LIGHT_FONT: 'Proxima Nova Light', sans-serif;
$TEAL: #00FFFF;
$BTN_TEAL: #3ACCED;
$LIGHT_TEAL: #51deff;
$NAVBAR_BLACK: #2b2b2b;
$LIGHT_GRAY: #c9c9c9;
$GREEN: #54DE8F;
$LIGHT_GREEN: #65f7a3;
$MINT_GREEN: #33e6b1;
$DARK_BLUE: #0F1825;

$FOOTER_COLOR: $DARK_BLUE;

$HEADER_HEIGHT: 0;
$SIDEBAR_WIDTH: 300px;

$LETTER_SPACING: 4px;